* {
    margin: 0;
    padding: 0;
  }
  @font-face {
    font-family: "comfortaa"; 
    src: url("./assets/fonts/comfortaa/Comfortaa-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
body{
    color:white;
    font-size: 25px;
    background-color: black;
    margin: 0 auto;
    height: 100vh;
    font-family: comfortaa;
    font-style: normal; 
    font-weight: normal; 
}

.header_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 50px; 
    align-items: center;
}

.logo_img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.nav_parent{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

.nav_child{
    cursor: pointer;
    margin-right: 50px;
    transition: 0.3s;
}
.nav_child:last-child{
    margin-right: 0px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/img/forest.jpg);
    transition: 0.3s;
    background-size: cover;
    height: calc(100% - 141px);
}

.player{
    background-image: url(./assets/svg/play.svg);
    width: 150px;
    height: 150px;
    background-size: contain;
    background-color: transparent;
    border: 0;
}


.footer_icons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.github_link{
    text-decoration: none;
    color: white;
}

.img_rsschool{
    width: 121px;
    height: 45px;
}

.logo_img, .github_link, .img_rsschool, .player{
    transition: 0.3s;
}

.nav_child:hover, .logo_img:hover, .github_link:hover, .img_rsschool:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    transition: 0.3s;
}
.player:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(50%);
    transform: scale(130%);
}

@media (max-width: 960px) {
    .nav_child{
        margin-right: 20px;
    }
    .header_container{
        padding: 10px 20px;
    }
}

.active{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.activePlayer{
    background-image: url(./assets/svg/pause.svg);
    width: 150px;
    height: 150px;
    background-size: contain;
    background-color: transparent;
    border: 0;
}
